.navbar{
    display: flex;
    justify-content:space-between;
    background-color:rgb(133, 8, 8);
}
.navMenu{
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size: 20px;
}
.carrito{
    width: 55px;
    justify-content: space-between;
}